
body {
    padding: 0%;
    margin: 0%;
    overflow: auto;
}

.container {
    display: grid;
    position: relative;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat (7, minmax(1fr, auto));
    grid-template-columns: 1fr 1fr;
}

.grid-item-background-1 {
    background-color: #94C9C9; 
    grid-row: 3 / 4;
    grid-column: 2 / 3;  
    height: 50vh;
}

.grid-item-background-2 {
    background-color: #94C9C9; 
    grid-row: 5 / 6;
    grid-column: 2 / 3;  
}

.header-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.icon {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 6px 6px 6px #72716E;
    transform: scale (1);
}

.icon:hover {
    opacity: 0.5;
    transform: scale (1.5);
}

.header-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    background-color: #94C9C9;
}

#language-button {
    display: flex;
    background-color:#94C9C9;
    border: solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    outline: 0;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 2vw;
    padding: 1rem;
    margin: 1rem;
    height: 3.5rem;
    width: 3.5rem;

}

#language-button:hover {
    opacity: 0.5;
}

#welcome {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    font-size: 7vw;
    color: #72716E;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 0.5rem;
    animation-name: pink-change;
    animation-duration: 15s;
    animation-iteration-count:infinite;
}

@keyframes pink-change {
    0% { color:#72716E; }
  50% { color: #E3016a; }
  100% { color: #72716E; }
  }

#down-button{
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#me {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    padding-top:2rem;

}

#about-me-heading {

    position: absolute;
    display:flex;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
    background-color:white;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color: #72716E;
    padding-left: 0.5rem;

}


#about-me {

    position: absolute;
    display:flex;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    width: 45vw;
    height: 50vh;
    background-color: white;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    color: #72716E;
    padding-left: 0.5rem;
    overflow: auto;

}

#about-me-button {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    border: none;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #72716E;
    font-size: 1vw;
    border: none;
    outline: 0;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    padding-left: 2rem;
}


#why-fac{
    grid-row: 4 / 5;
    grid-column: 2 / 3; 
    background:#94C9C9 50%;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color: #72716E; 
    height: 100vh;
    width: 50vw;
}

#why-fac-title {
    grid-row: 4 / 5;
    grid-column: 2 / 3; 
    font-size: 3vw;
    display: flex;
    justify-content: flex-end;
    font-family: yellowtail, futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: pink-change;
    animation-duration: 15s;
    animation-iteration-count:infinite;
    padding-right: 0.5rem;

}

ul{
    grid-row: 4 / 5;
    grid-column: 2 / 3; 
    list-style-type: square;
    overflow: hidden;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


  #my-skills{
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
    height: 100vw;
    width: 50vw;
    font-family: yellowtail, futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;

}

#my-skills-title {
    grid-row: 5 / 6;
    grid-column: 1 / 2;  
    font-size: 3vw;
    display: flex;
    justify-content: flex-start;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 0.5rem;
    padding: 1rem;
    color: #72716E;
    
}

#skills-subtitle {
    font-family: yellowtail, futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw;
    animation-name: pink-change;
    animation-duration: 15s;
    animation-iteration-count:infinite;
}

#skills-button {
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
    border: none;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #72716E;
    font-size: 1vw;
    border: none;
    outline: 0;
    padding-left: 2rem;
}



#image-carousel {

    grid-row: 6 / 7;
    grid-column: 1 / span 2;
    background:linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);

}

.image {
    height: 40vh;
    width: 40vw;
}

#contact-me {
    grid-row: 8 / 9;
    grid-column: 1 / span 2;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: #72716E;
}

 /* MEDIA QUERIES */


@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {


body {
    
    overflow: auto;
    position: relative;
}

.container {
    display: grid;
    position: relative;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat (7, minmax(1fr, auto));
    grid-template-columns: 1fr 1fr;
}

.header-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 1rem;

}

.header-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    background-color: #94C9C9;  
    

}

#language-button {
    display: flex;
    background-color:#94C9C9;
    border: none;
    outline: 0;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1.5vw;
    
}

#welcome {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    font-size: 6vw;
    color: #72716E;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.me {
    background-color: #94C9C9; 
    grid-row: 3 / 4;
    grid-column: 1 / 3;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color: #72716E;
    padding: 1rem;
}

#about-me-heading {

    grid-row: 3 / span 1;
    grid-column: 1 / 3;
    display: flex;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color: #72716E;
    padding: 0.5rem;
    margin: 0.5rem;
}


#about-me {
    grid-row: 3 / span 1;
    grid-column: 1 / 3;
    display: flex;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vw;
    color: #72716E;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 50vw;
    height: 50vh;
}

#why-fac{
    grid-row: 4 / 5;
    grid-column: 2 / 3; 
    background:#94C9C9 50%;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    color: #72716E; 
    
}

#why-fac-title {
    font-size: 3vw;
    display: flex;
    justify-content: flex-end;
    font-family: yellowtail, futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 0.5rem;

}

ul{
    list-style-type: square;
}

#my-skills{
    grid-row: 5 / 6;
    grid-column: 1 / 2; 

}

#my-skills-title {
    grid-row: 5 / 6;
    grid-column: 1 / 2;  
    font-size: 3vw;
    display: flex;
    justify-content: flex-start;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 0.5rem;
    padding: 1rem;
    color: #72716E;
    
}

#skills-button {
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
    border: none;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #72716E;
    font-size: 1vw;
    border: none;
    outline: 0;
    padding-left: 2rem;
}



.image {
    padding-top: 1rem;
    padding-left: 1rem;
    height: 15vh;
    width: 40vw;
}


/*fill this in! */
/*make the padding smaller for smaller screens */
/* made the button icons smaller */

#contact-me {
    grid-row: 8 / 9;
    grid-column: 1 / span 2;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5rem;
    color: #72716E;
}


}
