body {
    padding: 0%;
    margin: 0%;
    overflow: auto;
}

.container {
    display: grid;
    position: relative;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat (6, minmax(1fr, auto));
    grid-template-columns: 1fr 1fr;
    /* cursor: url('lgbt.png'), auto; */
}

/*delete this: */

#language-button {
    background-color:#94C9C9;
    border: solid white;
    border-radius: 100%;
    top: 6rem;
    right: 2rem;
    outline: 0;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    color: white;
    font-size: 1.2vw;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 4rem;
    width: 4rem;
    box-shadow: 6px 6px 6px #72716E;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#language-button:hover {
    opacity: 0.5;
}

.header-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;    
}

.header-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #94C9C9;
}

.icon {
    display: flex;
    background-color: #94C9C9;
    border: solid white;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    outline: 0;
    margin: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    box-shadow: 5px 5px 5px #72716E;
    transform: scale (1);
}

.icon:hover {
    opacity: 0.5;
    transform: scale (1.5);
}

.iconify { 
    width: 32px; 
    height: 32px; }

.nav {
    display: flex;
    background-color:#94C9C9;
    border: solid white;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    outline: 0;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    color: white;
    font-size: 1vw;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
    box-shadow: 5px 5px 5px #72716E;
}

.nav:hover {
      opacity: 50%;
  }

a {
    color: white;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
}

#me-nav {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

#fac-nav {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

#skills-nav {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
}

#hey {
    animation-name: pink-change;
    animation-duration: 15s;
    animation-iteration-count:infinite;
    font-family: yellowtail, Brush Script MT, Geneva, Tahoma, sans-serif, futura,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcome {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    font-size: 7.5vw;
    color: #72716E;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    /* animation-name: pink-change;
    animation-duration: 15s;
    animation-iteration-count:infinite; */
}

@keyframes pink-change {
    0% { color:#72716E; }
  50% { color: #E3016a; }
    100% { color: #72716E; } 
  }


#down-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#me {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    display: grid;
    grid-template-rows: 1fr, 3fr, 1fr, 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#about-me-title {
    font-size: 3vw;
    font-family: yellowtail, Brush Script MT, Geneva, Verdana, Tahoma, sans-serif;
    color: #E3016a;
    padding-left: 0.5rem;
}

#about-me-intro {
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    color: #72716E;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 1.2rem;
    width: 45vw;
    height: 60vh;
    padding:0.5rem;
    overflow: auto;
    z-index: 0; 
}

#about-me {
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    color: #72716E;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 1.2rem;
    width: 45vw;
    height: 60vh;
    padding:0.5rem;
    overflow: auto;
    z-index: 1;
}

#about-me-button {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    color: white;
    font-size: 1vw;
    border: none;
    outline: none;
    background:#E3016a; 
    color: white;
    transform: scale (1);
    box-shadow: 6px 6px 6px #72716E;  
    height: 3rem;
    width: 8rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

#about-me-button:hover {
    opacity: 50%;
    transform: scale (1.5);
}

#photo-button {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    color: white;
    font-size: 1vw;
    border: none;
    outline: none;
    background:#E3016a; 
    color: white;
    transform: scale (1);
    box-shadow: 6px 6px 6px #72716E;  
    height: 3rem;
    width: 8rem;
    margin-bottom: 1rem;
}

#photo-button:hover {
    opacity: 0.5;
    transform: scale (1.5);
}

#down-button-2{
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

#my-images-input {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1; 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
}

.images {
    height: 28%;
    width: 40%;
    border-radius: 100%;
    z-index: 0;
    margin-left: 0.5rem;
}

#Australia {
    grid-row: 3 / 4;
    grid-column: 2 / span 2;
}

#Cadiz {
    grid-row: 3 / 4;
    grid-column: 1 / span 2;
}

#Noosa {
    grid-row: 3 / 4;
    grid-column: 3 / span 4;
    width: 80%; 
}

.grid-item-background {
    background-color: #94C9C9; 
    grid-row: 5 / 6;
    grid-column: 2 / 3;  
    z-index: 0;
}

#why-fac{
    grid-row: 4 / 5;
    grid-column: 2 / 3; 
    background:#94C9C9 50%;
    font-size: 2vw;
    color: #72716E; 
    width: 50vw;
    height: 100vh;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#why-fac-title {
    grid-row: 4 / 5;
    grid-column: 2 / 3; 
    font-size: 3vw;
    display: flex;
    justify-content: flex-end;
    font-family: yellowtail, Brush Script MT, Geneva, Verdana, Tahoma, sans-serif;
    color: #E3016a;
    padding-right: 0.5rem;
}


#why-programming {
    font-size: 1.2vw;
    color: #72716E; 
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    overflow: auto;
}


#down-button-3{
    display: flex;
    justify-content: flex-end;
    
}

  #my-skills{
    grid-row: 5 / 6;
    grid-column: 1 / 2; 
    height: 95vh;
    width: 50vw;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    color: #72716E;
}

#my-skills-title {  
    font-size: 3vw;
    display: flex;
    align-items: flex-start;
    font-family: yellowtail, Brush Script MT, Geneva, Verdana, Tahoma, sans-serif;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color:#E3016a ;
    height: 50px;
    
}

#skills-subtitle {
    font-family: yellowtail, Brush Script MT, Geneva, Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    color: #72716E;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0.5rem;
}

ul{
    grid-row: 4 / 5;
    grid-column: 2 / 3; 
    list-style-type: none;
    padding-left: 0.5rem;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
  

}

#skills-button {
    border: none;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    font-size: 1vw;
    outline: 0;
    margin: 2rem;
    border: none;
    background:#E3016a; 
    color: white;
    transform: scale (1);
    box-shadow: 6px 6px 6px #72716E;  
    height: 3rem;
}

#skills-button:hover {
    opacity: 0.5;
    transform: scale (1.5);
}


#my-skills-input {
    grid-row: 5 / 6;
    grid-column: 2 / 3; 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1;
}

#icon-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
}

#icon-2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#icon-3 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

#icon-4 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

#up-button {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#contact-me {
    grid-row: 6 / 7;
    grid-column: 1 / span 2;
    background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    font-family: Varela, Geneva, Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    color: #72716E;
}


#twitter {
    transform: scale (1);
}
#twitter:hover {
    transform: scale (1.5);
    opacity: 50%;
}


 /* MEDIA QUERIES */

 /* have another media query for max-width: 1024px */


@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {


    .icon {
        height: 2rem;
        width: 2rem;
        box-shadow: none;
        padding-top: 0.5rem;
    }

    #language-button {
        height: 3rem;
        width: 3rem;
        top: 0rem;
        left: 0.5rem;
        font-size: 1.5rem;
    }

    .nav {
       display: none;
    
    }

    .icon {
        background-color: #94C9C9;
        border: none;
        height: 2.5rem;
        width: 2.5rem;
        box-shadow: none;
    }

    #welcome {
        font-size: 13vw;
    }
 
    #me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
    }

    #about-me-title {
        font-size: 7vw;
        height: 1vh;
    }

    #about-me-intro {
        font-size: 3.5vw;
        height: 70vh;
        width: 90vw;  
    }

    #about-me {
        font-size: 3.5vw;
        height: 70vh;
        width: 90vw;
    }

    #photo-button {
        display: none;
        height: 2rem;
        width: 4rem;
        font-size: 3vw;
    }

    #about-me-button {
        height: 6vh;
        width: 20vw;
        font-size: 3vw;
        margin-left: 0.5rem;
    }

    .images {
        display: none;
        height: 12%;
        width: 70%;
        border-radius: 50%;
        z-index: 1;
    }

    #why-fac{
        grid-column: 1 / span 2;
        background: linear-gradient(to right, #FFFFFF 50%, #94C9C9 50%);
        font-size: 2vw;
        color: #72716E; 
        width: 100vw;
        height: 100vh;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    
    #why-fac-title {
        grid-row: 4 / 5;
        grid-column: 2 / 3; 
        font-size: 7vw;
        display: flex;
        justify-content: flex-end;
        font-family: yellowtail, Brush Script MT, Geneva, Verdana, Tahoma, sans-serif;
        color: #E3016a;
    }
    
    #why-programming {
        padding-left: 0.5rem;
        font-size: 3.5vw;
    }

    #my-skills{
        height: 95vh;
        font-size: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #my-skills-title {  
        font-size: 7vw;
    }

    #my-skills-input{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    ul {
        font-size: 3.5vw;
        overflow: auto;
        grid-column: 1 / span 2;
        width: 90vw;
        z-index: 1;
    }

    #icon-1 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    }

    #icon-2 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    }

    #icon-3 {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    }

    #icon-4 {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    }

    #skills-button {
        width: 30vw;
        font-size: 3vw;
    }
}


@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {

    #down-button {
        display: none;
    }

    #down-button-2 {
        display: none;
    }

    #down-button-3 {
        display: none;
    }

    .nav {
        display: none;
    }

}